In [67]:
import pandas as pd
import numpy as np
import json
import requests
import re
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from io import StringIO
import os
from azure.storage.blob import BlobServiceClient
import pandas as pd
from io import BytesIO, StringIO
import sqlalchemy
from sqlalchemy import create_engine
import pyodbc

In [68]:
URL = "https://data.cdc.gov/api/views/hfr9-rurv/rows.csv?accessType=DOWNLOAD"

response = requests.get(URL, verify=False)
if response.status_code == 200:
    # Decode the content and read into DataFrame
    df_raw = pd.read_csv(BytesIO(response.content))
    # Print the first few rows to verify if the data has been read successfully
    print(df_raw.head())
    print(df_raw.columns)
    print(df_raw.shape)
    df_raw.info()
else:
    print("Failed to download the file.")

/Users/lisa/anaconda3/lib/python3.11/site-packages/urllib3/connectionpool.py:1056: InsecureRequestWarning: Unverified HTTPS request is being made to host 'data.cdc.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

                                     RowId  YearStart  YearEnd LocationAbbr  \
0    BRFSS~2022~2022~42~Q03~TMC01~AGE~RACE       2022     2022           PA
1    BRFSS~2022~2022~46~Q03~TMC01~AGE~RACE       2022     2022           SD
2    BRFSS~2022~2022~16~Q03~TMC01~AGE~RACE       2022     2022           ID
3    BRFSS~2022~2022~24~Q03~TMC01~AGE~RACE       2022     2022           MD
4  BRFSS~2022~2022~55~Q03~TMC01~AGE~GENDER       2022     2022           WI

   LocationDesc Datasource          Class                     Topic  \
0  Pennsylvania      BRFSS  Mental Health  Frequent mental distress
1  South Dakota      BRFSS  Mental Health  Frequent mental distress
2         Idaho      BRFSS  Mental Health  Frequent mental distress
3      Maryland      BRFSS  Mental Health  Frequent mental distress
4     Wisconsin      BRFSS  Mental Health  Frequent mental distress

                                            Question Data_Value_Unit  ...  \
0  Percentage of older adults who are experiencin...               %  ...
1  Percentage of older adults who are experiencin...               %  ...
2  Percentage of older adults who are experiencin...               %  ...
3  Percentage of older adults who are experiencin...               %  ...
4  Percentage of older adults who are experiencin...               %  ...

            Stratification2                       Geolocation  ClassID  \
0  Native Am/Alaskan Native  POINT (-77.86070029 40.79373015)      C05
1    Asian/Pacific Islander  POINT (-100.3735306 44.35313005)      C05
2       Black, non-Hispanic    POINT (-114.36373 43.68263001)      C05
3       Black, non-Hispanic  POINT (-76.60926011 39.29058096)      C05
4                      Male  POINT (-89.81637074 44.39319117)      C05

   TopicID QuestionID LocationID  StratificationCategoryID1  \
0    TMC01        Q03         42                        AGE
1    TMC01        Q03         46                        AGE
2    TMC01        Q03         16                        AGE
3    TMC01        Q03         24                        AGE
4    TMC01        Q03         55                        AGE

   StratificationID1 StratificationCategoryID2 StratificationID2
0               5064                      RACE               NAA
1             65PLUS                      RACE               ASN
2             65PLUS                      RACE               BLK
3             65PLUS                      RACE               BLK
4             65PLUS                    GENDER              MALE

[5 rows x 31 columns]
Index(['RowId', 'YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc',
       'Datasource', 'Class', 'Topic', 'Question', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value', 'Data_Value_Alt',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'Geolocation', 'ClassID', 'TopicID', 'QuestionID',
       'LocationID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2'],
      dtype='object')
(284142, 31)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284142 entries, 0 to 284141
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RowId                       284142 non-null  object
 1   YearStart                   284142 non-null  int64
 2   YearEnd                     284142 non-null  int64
 3   LocationAbbr                284142 non-null  object
 4   LocationDesc                284142 non-null  object
 5   Datasource                  284142 non-null  object
 6   Class                       284142 non-null  object
 7   Topic                       284142 non-null  object
 8   Question                    284142 non-null  object
 9   Data_Value_Unit             284142 non-null  object
 10  DataValueTypeID             284142 non-null  object
 11  Data_Value_Type             284142 non-null  object
 12  Data_Value                  192808 non-null  float64
 13  Data_Value_Alt              192808 non-null  float64
 14  Data_Value_Footnote_Symbol  109976 non-null  object
 15  Data_Value_Footnote         109976 non-null  object
 16  Low_Confidence_Limit        192597 non-null  float64
 17  High_Confidence_Limit       192597 non-null  float64
 18  StratificationCategory1     284142 non-null  object
 19  Stratification1             284142 non-null  object
 20  StratificationCategory2     247269 non-null  object
 21  Stratification2             247269 non-null  object
 22  Geolocation                 253653 non-null  object
 23  ClassID                     284142 non-null  object
 24  TopicID                     284142 non-null  object
 25  QuestionID                  284142 non-null  object
 26  LocationID                  284142 non-null  int64
 27  StratificationCategoryID1   284142 non-null  object
 28  StratificationID1           284142 non-null  object
 29  StratificationCategoryID2   284142 non-null  object
 30  StratificationID2           284142 non-null  object
dtypes: float64(4), int64(3), object(24)
memory usage: 67.2+ MB

In [143]:
df_cleaned = df_raw.copy()
df_cleaned = df_raw.drop(columns=  ['LocationAbbr','Data_Value_Footnote_Symbol','Data_Value_Footnote','Datasource','Data_Value_Unit','Data_Value_Alt','StratificationCategory1','StratificationCategoryID1','StratificationID1','StratificationCategoryID2','StratificationID2'])
df_cleaned = df_cleaned.dropna(subset=['Data_Value'])
df_cleaned.info()

df_cleaned['Longitude'] = None
df_cleaned['Latitude'] = None

for index, row in df_cleaned.iterrows():
    geolocation = row['Geolocation']
    if isinstance(geolocation, float):
        continue  # Skip float values
    if geolocation:
        match = re.match(r'POINT \(([-0-9.]+) ([-0-9.]+)\)', geolocation)
        if match:
            longitude = float(match.group(1))
            latitude = float(match.group(2))
            df_cleaned.at[index, 'Longitude'] = longitude
            df_cleaned.at[index, 'Latitude'] = latitude

alzheimer_df = df_cleaned.copy()

alzheimer_df.head(5)

<class 'pandas.core.frame.DataFrame'>
Index: 192808 entries, 3 to 284137
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   RowId                    192808 non-null  object
 1   YearStart                192808 non-null  int64
 2   YearEnd                  192808 non-null  int64
 3   LocationDesc             192808 non-null  object
 4   Class                    192808 non-null  object
 5   Topic                    192808 non-null  object
 6   Question                 192808 non-null  object
 7   DataValueTypeID          192808 non-null  object
 8   Data_Value_Type          192808 non-null  object
 9   Data_Value               192808 non-null  float64
 10  Low_Confidence_Limit     192597 non-null  float64
 11  High_Confidence_Limit    192597 non-null  float64
 12  Stratification1          192808 non-null  object
 13  StratificationCategory2  156041 non-null  object
 14  Stratification2          156041 non-null  object
 15  Geolocation              162742 non-null  object
 16  ClassID                  192808 non-null  object
 17  TopicID                  192808 non-null  object
 18  QuestionID               192808 non-null  object
 19  LocationID               192808 non-null  int64
dtypes: float64(3), int64(3), object(14)
memory usage: 30.9+ MB

,RowId,YearStart,YearEnd,LocationDesc,Class,Topic,Question,DataValueTypeID,Data_Value_Type,Data_Value,...,Stratification1,StratificationCategory2,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,Longitude,Latitude
3,BRFSS~2022~2022~24~Q03~TMC01~AGE~RACE,2022,2022,Maryland,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,PRCTG,Percentage,9.0,...,65 years or older,Race/Ethnicity,"Black, non-Hispanic",POINT (-76.60926011 39.29058096),C05,TMC01,Q03,24,-76.60926,39.290581
4,BRFSS~2022~2022~55~Q03~TMC01~AGE~GENDER,2022,2022,Wisconsin,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,PRCTG,Percentage,5.6,...,65 years or older,Gender,Male,POINT (-89.81637074 44.39319117),C05,TMC01,Q03,55,-89.816371,44.393191
6,BRFSS~2022~2022~40~Q03~TMC01~AGE~RACE,2022,2022,Oklahoma,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,PRCTG,Percentage,21.5,...,Overall,Race/Ethnicity,Native Am/Alaskan Native,POINT (-97.52107021 35.47203136),C05,TMC01,Q03,40,-97.52107,35.472031
7,BRFSS~2022~2022~42~Q03~TMC01~AGE~RACE,2022,2022,Pennsylvania,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,PRCTG,Percentage,10.0,...,Overall,Race/Ethnicity,"White, non-Hispanic",POINT (-77.86070029 40.79373015),C05,TMC01,Q03,42,-77.8607,40.79373
8,BRFSS~2022~2022~42~Q46~TOC10~AGE~GENDER,2022,2022,Pennsylvania,Overall Health,"Disability status, including sensory or mobili...",Percentage of older adults who report having a...,PRCTG,Percentage,39.9,...,Overall,Gender,Female,POINT (-77.86070029 40.79373015),C01,TOC10,Q46,42,-77.8607,40.79373

In [70]:
topic_df = df_cleaned[['TopicID', 'Topic']]

# Dropping duplicates to get unique QuestionID pairs with questions
unique_topic_df = topic_df.drop_duplicates()

# Mapping dictionary
question_mapping = dict(zip(unique_topic_df['TopicID'], unique_topic_df['Topic']))

# Applying the mapping to create a new column with descriptions
df_cleaned['Topic'] = df_cleaned['TopicID'].map(question_mapping)
unique_topic_df = unique_topic_df.rename(columns={'TopicID': 'topic_id', 'Topic': 'topic_desc'})
unique_topic_df

      topic_id                                         topic_desc
3        TMC01                           Frequent mental distress
8        TOC10  Disability status, including sensory or mobili...
10       TOC05                      Oral health:  tooth retention
16       TSC09                      Ever had pneumococcal vaccine
20       TSC10  Up-to-date with recommended vaccines and scree...
26       TSC11  Up-to-date with recommended vaccines and scree...
33       TSC01                      Mammogram within past 2 years
40       TSC03                       Pap test within past 3 years
47       TNC04                                            Obesity
52       TSC02                        Colorectal cancer screening
55       TNC03  No leisure-time physical activity within past ...
63       TAC01                                    Current smoking
69       TSC08                 Influenza vaccine within past year
78       TSC04             Diabetes screening within past 3 years
80       TAC03                 Binge drinking within past 30 days
86       TMC03                   Lifetime diagnosis of depression
91       TCC02  Functional difficulties associated with subjec...
92       TCC04  Talked with health care professional about sub...
96       TOC07            Self-rated health (fair to poor health)
100      TOC08       Self-rated health (good to excellent health)
101      TOC09                     Prevalence of sufficient sleep
107      TOC03          Recent activity limitations in past month
108      TGC01  Provide care for a friend or family member in ...
109      TGC03          Duration of caregiving among older adults
112      TGC04         Intensity of caregiving among older adults
114      TGC02  Expect to provide care for someone in the next...
116      TOC11                       Arthritis among older adults
121      TOC13  Fair or poor health among older adults with ar...
178      TGC05  Provide care for someone with cognitive impair...
183      TCC01  Subjective cognitive decline or memory loss am...
192      TCC03  Need assistance with day-to-day activities bec...
203      TNC01                      Eating 2 or more fruits daily
208      TNC02                  Eating 3 or more vegetables daily
222      TOC04          Taking medication for high blood pressure
227      TOC01    Physically unhealthy days (mean number of days)
52042    TSC07                           High blood pressure ever
52050    TSC06                Cholesterol checked in past 5 years
62648    TOC12  Severe joint pain among older adults with arth...
73116    TOC06                  Fall with injury within last year

In [71]:
class_df = df_cleaned[['ClassID', 'Class']]

# Dropping duplicates to get unique QuestionID pairs with questions
unique_class_df = class_df.drop_duplicates()

# Mapping dictionary
class_mapping = dict(zip(unique_class_df['ClassID'], unique_class_df['Class']))

# Applying the mapping to create a new column with descriptions
df_cleaned['Class'] = df_cleaned['ClassID'].map(class_mapping)
unique_class_df = unique_class_df.rename(columns={'ClassID': 'class_id', 'Class': 'class_desc'})
unique_class_df

    class_id                           class_desc
3        C05                        Mental Health
8        C01                       Overall Health
16       C03              Screenings and Vaccines
47       C02  Nutrition/Physical Activity/Obesity
63       C04              Smoking and Alcohol Use
91       C06                    Cognitive Decline
108      C07                           Caregiving

In [72]:
question_df = df_cleaned[['QuestionID', 'Question']]

# Dropping duplicates to get unique QuestionID pairs with questions
unique_questions_df = question_df.drop_duplicates()

# Mapping dictionary
question_mapping = dict(zip(unique_questions_df['QuestionID'], unique_questions_df['Question']))

# Applying the mapping to create a new column with descriptions
df_cleaned['question_desc'] = df_cleaned['QuestionID'].map(question_mapping)
unique_questions_df = unique_questions_df.rename(columns={'QuestionID': 'question_id', 'Question': 'question_desc'})
unique_questions_df

      question_id                                      question_desc
3             Q03  Percentage of older adults who are experiencin...
8             Q46  Percentage of older adults who report having a...
10            Q07  Percentage of older adults who report having l...
16            Q09  Percentage of at risk adults (have diabetes, a...
20            Q10  Percentage of older adult men who are up to da...
26            Q11  Percentage of older adult women who are up to ...
33            Q12  Percentage of older adult women who have recei...
40            Q20  Percentage of older adult women with an intact...
47            Q13  Percentage of older adults who are currently o...
52            Q15  Percentage of older adults who had either a ho...
55            Q16  Percentage of older adults who have not had an...
63            Q17  Percentage of older adults who have smoked at ...
69            Q18  Percentage of older adults who reported influe...
78            Q19  Percentage of older adults without diabetes wh...
80            Q21  Percentage of older adults who reported binge ...
86            Q27  Percentage of older adults with a lifetime dia...
91            Q31  Percentage of older adults who reported subjec...
92            Q42  Percentage of older adults with subjective cog...
96            Q32  Percentage of older adults who self-reported t...
100           Q33  Percentage of older adults who self-reported t...
101           Q34  Percentage of older adults getting sufficient ...
107           Q35  Mean number of days with activity limitations ...
108           Q36  Percentage of older adults who provided care f...
109           Q38  Percentage of older adults who provided care t...
112           Q39  Average of 20 or more hours of care per week p...
114           Q37  Percentage of older adults currently not provi...
116           Q43  Percentage of older adults ever told they have...
121           Q45  Fair or poor health among older adults with do...
178           Q40  Percentage of older adults who provided care f...
183           Q30  Percentage of older adults who reported subjec...
192           Q41  Percentage of older adults who reported that a...
203           Q01  Percentage of older adults who are eating 2 or...
208           Q02  Percentage of older adults who are eating 3 or...
222           Q04  Percentage of older adults who have been told ...
227           Q08  Physically unhealthy days (mean number of days...
52042         Q22  Percentage of older adults who have ever been ...
52050         Q14  Percentage of older adults who had a cholester...
62648         Q44  Severe joint pain due to arthritis among older...
73116         Q05  Percentage of older adults who have fallen and...

In [73]:
location_lookup_df = pd.read_csv('/Users/lisa/CIS9440HW/docs/filtered_location.csv')
location_lookup_df = location_lookup_df.fillna(0)
new_order = ['location_id', 'location_desc','latitude','longitude']
location_lookup_df = location_lookup_df[new_order]
location_lookup_df.head()

   location_id         location_desc   latitude  longitude
0         9003                 South   0.000000   0.000000
1         9001             Northeast   0.000000   0.000000
2            9           Connecticut  41.562661 -72.649841
3           11  District of Columbia  38.907192 -77.036871
4           10              Delaware  39.008831 -75.577741

In [74]:
# Creating Year Dimension

# Mapping dictionary
year_mapping = {
    2015: 2015,
    2016: 2016,
    2017: 2017,
    2018: 2018,
    2019: 2019,
    2020: 2020,
    2021: 2021,
    2022: 2022
}

unique_syear_ids = df_cleaned['YearStart'].unique()
# Converting the array of unique values into a DataFrame
unique_syear_df = pd.DataFrame(unique_syear_ids, columns=['year_id'])

# Applying the mapping to create a new column with descriptions
unique_syear_df['year'] = unique_syear_df['year_id'].map(year_mapping)
unique_syear_df = unique_syear_df[unique_syear_df['year_id'] != '<NA>']
unique_syear_df

   year_id  year
0     2022  2022
1     2021  2021
2     2019  2019
3     2020  2020
4     2018  2018
5     2015  2015
6     2017  2017
7     2016  2016

In [75]:
unique_stratification_df = df_cleaned.groupby(["Stratification1", "StratificationCategory2", "Stratification2"])['Stratification2'].agg(unique_values='unique')
unique_stratification_df.index.names = ["Stratification1", "Stratification2", "StratificationCategory2"]
unique_stratification_df.reset_index(inplace=True)
unique_stratification_df = unique_stratification_df.drop(columns=['unique_values'])

# Create 'stratification_id' column
unique_stratification_df['stratification_id'] = unique_stratification_df.index

# Rename 'StratificationCategory2' to 'stratification_category2' and other columns
unique_stratification_df.rename(columns={'StratificationCategory2': 'stratification_category2','Stratification1':'stratification1','Stratification2':'stratification2'}, inplace=True)

# Reset index to make 'stratification_id' a regular column
unique_stratification_df.reset_index(drop=True, inplace=True)

# Reorder columns
new_order = ["stratification_id", "stratification1", "stratification2", "stratification_category2"]
unique_stratification_df = unique_stratification_df[new_order]
unique_stratification_df['stratification_id'] = unique_stratification_df['stratification_id'].astype(int)

# Display the DataFrame
unique_stratification_df

,stratification_id,stratification1,stratification2,stratification_category2
0,0,50-64 years,Gender,Female
1,1,50-64 years,Gender,Male
2,2,50-64 years,Race/Ethnicity,Asian/Pacific Islander
3,3,50-64 years,Race/Ethnicity,"Black, non-Hispanic"
4,4,50-64 years,Race/Ethnicity,Hispanic
5,5,50-64 years,Race/Ethnicity,Native Am/Alaskan Native
6,6,50-64 years,Race/Ethnicity,"White, non-Hispanic"
7,7,65 years or older,Gender,Female
8,8,65 years or older,Gender,Male
9,9,65 years or older,Race/Ethnicity,Asian/Pacific Islander
10,10,65 years or older,Race/Ethnicity,"Black, non-Hispanic"
11,11,65 years or older,Race/Ethnicity,Hispanic
12,12,65 years or older,Race/Ethnicity,Native Am/Alaskan Native
13,13,65 years or older,Race/Ethnicity,"White, non-Hispanic"
14,14,Overall,Gender,Female
15,15,Overall,Gender,Male
16,16,Overall,Race/Ethnicity,Asian/Pacific Islander
17,17,Overall,Race/Ethnicity,"Black, non-Hispanic"
18,18,Overall,Race/Ethnicity,Hispanic
19,19,Overall,Race/Ethnicity,Native Am/Alaskan Native
20,20,Overall,Race/Ethnicity,"White, non-Hispanic"

In [149]:
if 'stratification_id' not in df_cleaned.columns:
    # Extract 'stratification_id' from unique_stratification_df
    extracted_col = unique_stratification_df["stratification_id"]
    # Concatenate the extracted column to df_cleaned
    df_cleaned = pd.concat([df_cleaned, extracted_col], axis=1)

df_cleaned['YearStart'] = df_cleaned['YearStart'].astype('Int64')
df_cleaned['YearEnd'] = df_cleaned['YearEnd'].astype('Int64')
df_cleaned['LocationID'] = df_cleaned['LocationID'].astype('Int64')

print(df_cleaned.head())

                                     RowId  YearStart  YearEnd  LocationDesc  \
3    BRFSS~2022~2022~24~Q03~TMC01~AGE~RACE       2022     2022      Maryland
4  BRFSS~2022~2022~55~Q03~TMC01~AGE~GENDER       2022     2022     Wisconsin
6    BRFSS~2022~2022~40~Q03~TMC01~AGE~RACE       2022     2022      Oklahoma
7    BRFSS~2022~2022~42~Q03~TMC01~AGE~RACE       2022     2022  Pennsylvania
8  BRFSS~2022~2022~42~Q46~TOC10~AGE~GENDER       2022     2022  Pennsylvania

            Class                                              Topic  \
3   Mental Health                           Frequent mental distress
4   Mental Health                           Frequent mental distress
6   Mental Health                           Frequent mental distress
7   Mental Health                           Frequent mental distress
8  Overall Health  Disability status, including sensory or mobili...

                                            Question DataValueTypeID  \
3  Percentage of older adults who are experiencin...           PRCTG
4  Percentage of older adults who are experiencin...           PRCTG
6  Percentage of older adults who are experiencin...           PRCTG
7  Percentage of older adults who are experiencin...           PRCTG
8  Percentage of older adults who report having a...           PRCTG

  Data_Value_Type  Data_Value  ...  StratificationCategory2  \
3      Percentage         9.0  ...           Race/Ethnicity
4      Percentage         5.6  ...                   Gender
6      Percentage        21.5  ...           Race/Ethnicity
7      Percentage        10.0  ...           Race/Ethnicity
8      Percentage        39.9  ...                   Gender

            Stratification2                       Geolocation ClassID TopicID  \
3       Black, non-Hispanic  POINT (-76.60926011 39.29058096)     C05   TMC01
4                      Male  POINT (-89.81637074 44.39319117)     C05   TMC01
6  Native Am/Alaskan Native  POINT (-97.52107021 35.47203136)     C05   TMC01
7       White, non-Hispanic  POINT (-77.86070029 40.79373015)     C05   TMC01
8                    Female  POINT (-77.86070029 40.79373015)     C01   TOC10

  QuestionID LocationID  Longitude   Latitude  stratification_id
3        Q03         24  -76.60926  39.290581                3.0
4        Q03         55 -89.816371  44.393191                4.0
6        Q03         40  -97.52107  35.472031                6.0
7        Q03         42   -77.8607   40.79373                7.0
8        Q46         42   -77.8607   40.79373                8.0

[5 rows x 23 columns]

In [152]:
mean_value = df_cleaned[df_cleaned['Data_Value_Type'] == 'Mean']['Data_Value'].mean()

# Filter out rows where 'Data_Value' is equal to the mean
percent_df = df_cleaned[df_cleaned['Data_Value'] != mean_value]

new_column_names = {
    'RowId': 'fact_id',
	'Data_Value':'data_value',
	'Low_Confidence_Limit': 'low_confidence_limit',
	'High_Confidence_Limit': 'high_confidence_limit',
	'TopicID': 'topic_id',
	'ClassID': 'class_id', 
	'QuestionID': 'question_id',
    'LocationID': 'location_id',
    'YearStart': 'year_start',
    'YearEnd': 'year_end',
    'stratification_id': 'stratification_id'
}

percent_df = percent_df.rename(columns=new_column_names)
#percent_df['fact_id'] = range(1, len(percent_df) + 1)
new_order = ['fact_id', 'data_value', 'low_confidence_limit', 'high_confidence_limit', 'location_id', 'topic_id', 'class_id', 'year_start', 'year_end','question_id','stratification_id','Stratification1','StratificationCategory2','Stratification2']
percent_df = percent_df[new_order]
percent_df.head(20)

,fact_id,data_value,low_confidence_limit,high_confidence_limit,location_id,topic_id,class_id,year_start,year_end,question_id,stratification_id,Stratification1,StratificationCategory2,Stratification2
3,BRFSS~2022~2022~24~Q03~TMC01~AGE~RACE,9.0,6.5,12.3,24,TMC01,C05,2022,2022,Q03,3.0,65 years or older,Race/Ethnicity,"Black, non-Hispanic"
4,BRFSS~2022~2022~55~Q03~TMC01~AGE~GENDER,5.6,4.4,7.2,55,TMC01,C05,2022,2022,Q03,4.0,65 years or older,Gender,Male
6,BRFSS~2022~2022~40~Q03~TMC01~AGE~RACE,21.5,15.4,29.2,40,TMC01,C05,2022,2022,Q03,6.0,Overall,Race/Ethnicity,Native Am/Alaskan Native
7,BRFSS~2022~2022~42~Q03~TMC01~AGE~RACE,10.0,8.3,12.1,42,TMC01,C05,2022,2022,Q03,7.0,Overall,Race/Ethnicity,"White, non-Hispanic"
8,BRFSS~2022~2022~42~Q46~TOC10~AGE~GENDER,39.9,35.6,44.4,42,TOC10,C01,2022,2022,Q46,8.0,Overall,Gender,Female
9,BRFSS~2022~2022~05~Q46~TOC10~AGE~RACE,61.9,45.9,75.6,5,TOC10,C01,2022,2022,Q46,9.0,Overall,Race/Ethnicity,Native Am/Alaskan Native
10,BRFSS~2022~2022~24~Q07~TOC05~AGE~RACE,71.5,50.0,86.3,24,TOC05,C01,2022,2022,Q07,10.0,65 years or older,Race/Ethnicity,Asian/Pacific Islander
11,BRFSS~2022~2022~36~Q07~TOC05~AGE~RACE,73.9,60.4,84.0,36,TOC05,C01,2022,2022,Q07,11.0,65 years or older,Race/Ethnicity,Asian/Pacific Islander
12,BRFSS~2022~2022~04~Q07~TOC05~AGE~RACE,64.3,56.4,71.6,4,TOC05,C01,2022,2022,Q07,12.0,65 years or older,Race/Ethnicity,Hispanic
13,BRFSS~2022~2022~46~Q07~TOC05~AGE~RACE,52.6,28.9,75.1,46,TOC05,C01,2022,2022,Q07,13.0,65 years or older,Race/Ethnicity,Native Am/Alaskan Native
14,BRFSS~2022~2022~59~Q03~TMC01~AGE~RACE,10.8,9.5,12.2,59,TMC01,C05,2022,2022,Q03,14.0,65 years or older,Race/Ethnicity,"Black, non-Hispanic"
15,BRFSS~2022~2022~9001~Q46~TOC10~AGE~RACE,42.4,33.4,51.9,9001,TOC10,C01,2022,2022,Q46,15.0,65 years or older,Race/Ethnicity,Asian/Pacific Islander
16,BRFSS~2022~2022~20~Q09~TSC09~AGE~RACE,50.8,37.8,63.6,20,TSC09,C03,2022,2022,Q09,16.0,Overall,Race/Ethnicity,Hispanic
17,BRFSS~2022~2022~53~Q09~TSC09~AGE~GENDER,61.2,59.3,63.1,53,TSC09,C03,2022,2022,Q09,17.0,Overall,Gender,Male
18,BRFSS~2022~2022~53~Q09~TSC09~AGE~RACE,56.5,44.8,67.6,53,TSC09,C03,2022,2022,Q09,18.0,Overall,Race/Ethnicity,Native Am/Alaskan Native
19,BRFSS~2022~2022~50~Q09~TSC09~AGE~RACE,65.0,62.5,67.5,50,TSC09,C03,2022,2022,Q09,19.0,Overall,Race/Ethnicity,"White, non-Hispanic"
20,BRFSS~2022~2022~15~Q10~TSC10~AGE~RACE,45.1,38.5,51.9,15,TSC10,C03,2022,2022,Q10,20.0,65 years or older,Race/Ethnicity,Asian/Pacific Islander
21,BRFSS~2022~2022~11~Q10~TSC10~AGE~RACE,47.5,37.0,58.2,11,TSC10,C03,2022,2022,Q10,NaN,65 years or older,Race/Ethnicity,"Black, non-Hispanic"
22,BRFSS~2022~2022~08~Q10~TSC10~AGE~RACE,41.8,28.7,56.1,8,TSC10,C03,2022,2022,Q10,NaN,65 years or older,Race/Ethnicity,Hispanic
24,BRFSS~2022~2022~15~Q10~TSC10~AGE~RACE,43.8,38.9,48.9,15,TSC10,C03,2022,2022,Q10,NaN,Overall,Race/Ethnicity,Asian/Pacific Islander

In [147]:
mean_df = df_cleaned[df_cleaned['Data_Value_Type'] != 'Percentage']

new_column_names = {
    'RowId': 'fact_id',
	'Data_Value':'data_value',
	'Low_Confidence_Limit': 'low_confidence_limit',
	'High_Confidence_Limit': 'high_confidence_limit',
	'TopicID': 'topic_id',
	'ClassID': 'class_id', 
	'QuestionID': 'question_id',
    'LocationID': 'location_id',
    'YearStart': 'year_start',
    'YearEnd': 'year_end',
    'stratification_id': 'stratification_id'
}

mean_df = mean_df.rename(columns=new_column_names)
new_order = ['fact_id', 'data_value', 'low_confidence_limit', 'high_confidence_limit', 'location_id', 'topic_id', 'class_id', 'year_start', 'year_end','question_id','stratification_id']
mean_df = mean_df[new_order]
mean_df.head(20)

,fact_id,data_value,low_confidence_limit,high_confidence_limit,location_id,topic_id,class_id,year_start,year_end,question_id,stratification_id
107,BRFSS~2022~2022~37~Q35~TOC03~AGE~RACE,7.3,4.5,10.0,37.0,TOC03,C01,2022,2022,Q35,NaN
150,BRFSS~2022~2022~9004~Q35~TOC03~AGE~GENDER,6.3,5.7,6.8,9004.0,TOC03,C01,2022,2022,Q35,NaN
151,BRFSS~2022~2022~9004~Q35~TOC03~AGE~GENDER,6.3,5.8,6.8,9004.0,TOC03,C01,2022,2022,Q35,NaN
227,BRFSS~2021~2021~38~Q08~TOC01~AGE~RACE,6.2,3.2,9.2,38.0,TOC01,C01,2021,2021,Q08,NaN
228,BRFSS~2021~2021~48~Q08~TOC01~AGE~RACE,4.3,3.7,5.0,48.0,TOC01,C01,2021,2021,Q08,NaN
229,BRFSS~2021~2021~42~Q08~TOC01~AGE~RACE,7.2,4.8,9.7,42.0,TOC01,C01,2021,2021,Q08,NaN
230,BRFSS~2021~2021~09~Q08~TOC01~AGE~RACE,3.6,1.9,5.3,9.0,TOC01,C01,2021,2021,Q08,NaN
232,BRFSS~2021~2021~40~Q08~TOC01~AGE~RACE,7.6,4.5,10.6,40.0,TOC01,C01,2021,2021,Q08,NaN
233,BRFSS~2021~2021~54~Q08~TOC01~AGE~RACE,6.6,6.2,7.1,54.0,TOC01,C01,2021,2021,Q08,NaN
240,BRFSS~2021~2021~9002~Q35~TOC03~AGE~GENDER,6.2,5.7,6.7,9002.0,TOC03,C01,2021,2021,Q35,NaN
241,BRFSS~2021~2021~9001~Q35~TOC03~AGE~OVERALL,5.6,5.3,5.9,9001.0,TOC03,C01,2021,2021,Q35,NaN
244,BRFSS~2018~2018~02~Q35~TOC03~AGE~GENDER,6.1,4.8,7.4,2.0,TOC03,C01,2018,2018,Q35,NaN
247,BRFSS~2017~2017~66~Q08~TOC01~AGE~GENDER,4.6,3.4,5.8,66.0,TOC01,C01,2017,2017,Q08,NaN
249,BRFSS~2018~2018~19~Q35~TOC03~AGE~GENDER,5.1,4.2,6.1,19.0,TOC03,C01,2018,2018,Q35,NaN
253,BRFSS~2015~2015~22~Q08~TOC01~AGE~OVERALL,6.0,5.4,6.6,22.0,TOC01,C01,2015,2015,Q08,NaN
257,BRFSS~2019~2019~23~Q35~TOC03~AGE~GENDER,7.8,6.6,9.0,23.0,TOC03,C01,2019,2019,Q35,NaN
258,BRFSS~2018~2018~26~Q35~TOC03~AGE~GENDER,7.5,6.7,8.3,26.0,TOC03,C01,2018,2018,Q35,NaN
259,BRFSS~2017~2017~9001~Q35~TOC03~AGE~OVERALL,5.8,5.6,6.1,9001.0,TOC03,C01,2017,2017,Q35,NaN
260,BRFSS~2016~2016~42~Q35~TOC03~AGE~OVERALL,6.1,5.3,6.9,42.0,TOC03,C01,2016,2016,Q35,NaN
264,BRFSS~2015~2015~47~Q08~TOC01~AGE~OVERALL,7.0,6.3,7.8,47.0,TOC01,C01,2015,2015,Q08,NaN
267,BRFSS~2018~2018~55~Q08~TOC01~AGE~OVERALL,5.1,4.6,5.6,55.0,TOC01,C01,2018,2018,Q08,NaN
1851,BRFSS~2022~2022~9001~Q35~TOC03~AGE~OVERALL,5.9,5.6,6.2,9001.0,TOC03,C01,2022,2022,Q35,NaN
2307,BRFSS~2022~2022~9004~Q35~TOC03~AGE~RACE,6.3,5.3,7.3,9004.0,TOC03,C01,2022,2022,Q35,NaN
19826,BRFSS~2022~2022~16~Q35~TOC03~AGE~GENDER,6.9,5.6,8.2,16.0,TOC03,C01,2022,2022,Q35,NaN
20962,BRFSS~2022~2022~51~Q35~TOC03~AGE~OVERALL,6.6,5.9,7.3,51.0,TOC03,C01,2022,2022,Q35,NaN
20966,BRFSS~2022~2022~11~Q35~TOC03~AGE~RACE,4.3,3.0,5.7,11.0,TOC03,C01,2022,2022,Q35,NaN
20972,BRFSS~2022~2022~12~Q35~TOC03~AGE~RACE,10.4,6.2,14.5,12.0,TOC03,C01,2022,2022,Q35,NaN
20974,BRFSS~2022~2022~54~Q35~TOC03~AGE~GENDER,8.1,7.3,8.9,54.0,TOC03,C01,2022,2022,Q35,NaN
20975,BRFSS~2022~2022~27~Q35~TOC03~AGE~GENDER,5.3,4.6,6.0,27.0,TOC03,C01,2022,2022,Q35,NaN
20985,BRFSS~2022~2022~08~Q35~TOC03~AGE~GENDER,5.2,4.3,6.2,8.0,TOC03,C01,2022,2022,Q35,NaN
21040,BRFSS~2022~2022~18~Q35~TOC03~AGE~RACE,5.4,3.2,7.5,18.0,TOC03,C01,2022,2022,Q35,NaN
21071,BRFSS~2022~2022~21~Q35~TOC03~AGE~OVERALL,7.8,6.9,8.6,21.0,TOC03,C01,2022,2022,Q35,NaN
21075,BRFSS~2022~2022~30~Q35~TOC03~AGE~GENDER,6.7,5.5,7.9,30.0,TOC03,C01,2022,2022,Q35,NaN
21077,BRFSS~2022~2022~23~Q35~TOC03~AGE~GENDER,7.4,5.9,8.8,23.0,TOC03,C01,2022,2022,Q35,NaN
21083,BRFSS~2022~2022~47~Q35~TOC03~AGE~RACE,6.2,3.1,9.3,47.0,TOC03,C01,2022,2022,Q35,NaN
21084,BRFSS~2022~2022~30~Q35~TOC03~AGE~OVERALL,6.3,5.6,7.0,30.0,TOC03,C01,2022,2022,Q35,NaN
21087,BRFSS~2022~2022~13~Q35~TOC03~AGE~RACE,6.5,5.5,7.4,13.0,TOC03,C01,2022,2022,Q35,NaN
21092,BRFSS~2022~2022~34~Q35~TOC03~AGE~GENDER,5.5,4.4,6.5,34.0,TOC03,C01,2022,2022,Q35,NaN
21094,BRFSS~2022~2022~35~Q35~TOC03~AGE~RACE,7.9,6.1,9.6,35.0,TOC03,C01,2022,2022,Q35,NaN
21118,BRFSS~2022~2022~45~Q35~TOC03~AGE~OVERALL,5.9,5.3,6.5,45.0,TOC03,C01,2022,2022,Q35,NaN
21121,BRFSS~2022~2022~51~Q35~TOC03~AGE~OVERALL,5.9,5.4,6.3,51.0,TOC03,C01,2022,2022,Q35,NaN
21128,BRFSS~2022~2022~45~Q35~TOC03~AGE~GENDER,5.5,4.7,6.2,45.0,TOC03,C01,2022,2022,Q35,NaN
21146,BRFSS~2022~2022~55~Q35~TOC03~AGE~GENDER,6.3,5.5,7.2,55.0,TOC03,C01,2022,2022,Q35,NaN
21156,BRFSS~2022~2022~47~Q35~TOC03~AGE~RACE,7.2,5.9,8.4,47.0,TOC03,C01,2022,2022,Q35,NaN
21169,BRFSS~2022~2022~33~Q35~TOC03~AGE~GENDER,4.6,3.9,5.2,33.0,TOC03,C01,2022,2022,Q35,NaN
21217,BRFSS~2022~2022~32~Q35~TOC03~AGE~GENDER,9.1,6.8,11.3,32.0,TOC03,C01,2022,2022,Q35,NaN
21259,BRFSS~2022~2022~27~Q35~TOC03~AGE~OVERALL,5.4,4.9,6.0,27.0,TOC03,C01,2022,2022,Q35,NaN
21266,BRFSS~2022~2022~51~Q35~TOC03~AGE~GENDER,5.7,4.6,6.9,51.0,TOC03,C01,2022,2022,Q35,NaN
21274,BRFSS~2022~2022~05~Q35~TOC03~AGE~GENDER,7.3,6.1,8.4,5.0,TOC03,C01,2022,2022,Q35,NaN
21275,BRFSS~2022~2022~01~Q35~TOC03~AGE~GENDER,8.1,6.9,9.4,1.0,TOC03,C01,2022,2022,Q35,NaN

In [76]:
# Database connection URL
# Replace the placeholders with your actual database credentials
pwd = 'Cis9440dw124!'
database_url = f'postgresql://laishan:{pwd}@cis9440baruchdw.postgres.database.azure.com/postgres'

# Create a SQLAlchemy engine
engine = create_engine(database_url)

In [ ]:
unique_topic_df.to_sql('dim_topic', con=engine, schema='alzheimer', if_exists='append', index=False)

In [ ]:
unique_topic_df.to_csv("topic.csv",index=False)

In [ ]:
unique_class_df.to_sql('dim_class', con=engine, schema='alzheimer', if_exists='append', index=False)

7

In [ ]:
unique_questions_df.to_sql('dim_question', con=engine, schema='alzheimer', if_exists='append', index=False)

39

In [ ]:
unique_stratification_df.to_sql('dim_stratification', con=engine, schema='alzheimer', if_exists='append', index=False)

21

In [ ]:
unique_syear_df.to_sql('dim_year', con=engine, schema='alzheimer', if_exists='append', index=False)

8